In [35]:
class person():
    def __init__(self, power, attact):
        self.power = power
        self.attact = attact
    def attacted(self, person):
        self.power = self.power - person.attact

In [36]:
person1 = person(power=100, attact=5)
person2 = person(power=50, attact=2)

In [37]:
person1.attacted(person2)

In [ ]:
Name      Age      Salary
Alice     25       50000
Bob       30       55000
Charlie   35       60000

In [40]:
data = [{'name': 'Alice', 'age': 25, 'salary': 50000}, {'name': 'Bob', 'age': 30, 'salary': 55000}, {'name': 'Charlie', 'age': 35, 'salary': 60000}]

In [86]:
minimum = 35
sorted_data = [ x for x in data if x['age'] >= minimum]
sorted_data

[{'name': 'Charlie', 'age': 35, 'salary': 60000}]

In [87]:
def avg_salary(data):
    total = [x['salary'] for x in data]
    return sum(total)/len(total) if total else 0

In [88]:
average = avg_salary(sorted_data)

In [89]:
average

60000.0